<h1>game show page, chess board below</h1>

<link type="text/css" rel="stylesheet" href="master.scss" /> 

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" charset="utf-8"></script>     
<script>
$(document).ready(function(){
  var space = 1;
  for (var r=0; r<8; r++) {
    var col = "";
    for (var c=0; c<8; c++) { col += "<td data-pos='"+space+"'></td>"; space++; }
    $("#chessboard").append("<tr>"+col+"</tr>");
  }  
});
</script>     

<table id='chessboard'>
  <% piece = @game.pieces.where(x_position:c, y_position:r).first %>
  <td>
    <% if piece %>
      <%= piece.image.html_safe %>
    <% end %>
  </td>
</table>