
<h1>game show page, chess board below</h1>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" charset="utf-8"></script>

<table id='chessboard' class="chessboard">
</table>

<br /><br />


<table id="chessboard-2" class="chessboard">
  <!-- 1, 8 = top left -->
  <% (1..8).to_a.reverse.each do |i| %>
    <tr>
      <% (1..8).each do |j| %>
        <td data-y-pos="<%= i %>" data-x-pos="<%= j %>">
          <% piece = @game.pieces.find_by(x_position: j, y_position: i) %>

          <% if piece.present? %>
            <%= link_to piece&.name, game_piece_path(@game, piece) %>
          <% end %>

        </td>
      <% end %>
    </tr>
  <% end %>
</table>




