&nbsp;
&nbsp;
&nbsp;
<h3>Open Games</h3>
&nbsp;
&nbsp;

<% @game.each do |game| %>
<div>
<h4><%= game.game_name %></h4>

<% if user_signed_in? %>
<%= link_to 'Join Game', game_path(game) %>
<% else %>
<% link_to 'Sign Up', new_user_registration_path, class: 'nav-link' %>
<% end %>
</div>
<% end %>