<h1>Welcome</h1><h4><%= current_user.email %></h4>

<%= link_to "Create a new game", new_game_path %>

&nbsp;
&nbsp;
<div>

<% if @game.present? %>
<%= render partial: 'open_games' %>
<% end %>
</div>



