<h1>Hello World</h1>

<%= link_to "Create a new game", new_game_path %>


<section>
 <% if @open_games.present? %>
  <h4> Open Games</h4>
  <% end %> 
  <ul class='list'>
    <% @open_games.to_a.each do |game| %>
    <li class='list-item'>
      <h5><%= link_to :game_name, game_path(@game) %></h5>

      <p>
     
        <%= simple_form_for game, :method => :put do |f| %>
        <%= f.submit 'Join Game' %>
        <% end %>
      </p>
    </li>
    <% end %>
  </ul>
</section>
