@import "bootstrap";

* {
  margin: 0; 
  padding: 0; 
}

table { 
  border-collapse: collapse; 
  border-spacing: 0; 
}

#chessboard { 
  padding: 0px; 
  margin: 0 auto; 
  border: 2px solid #181818; 
}

#chessboard tr td { 
  width: 60px; 
  height: 60px; 
}

#chessboard tr:nth-child(2n) td:nth-child(2n+1) { 
  background: #9f9f9f; 
}

#chessboard tr:nth-child(2n+1) td:nth-child(2n) { 
  background: #9f9f9f; 
} 



.list-item {
  border: 1px solid #000000;
  text-align: center;
  background-color: #9f9f9f;
  margin-top: 20px;
}

ul{
  list-style-type: none;
}

